<%- include("partials/_header") %>

<body style="font-family: 'Fresca', sans-serif;">
  <div class="container">
    <h1 class="text-center">BREAD<br> <small>(Browse, Read, Edit, Add, Delete)</small> </h1>
    <hr>
    <h2>Filters</h2>
    <form id="form-control" method="GET">
      <input type="hidden" id="page" name="page" value="1">
      <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkID"> ID</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputID' placeholder="ID">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputString" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkString">
          String</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputString' placeholder="String">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputInteger" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkInteger">
          Integer</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputInteger' placeholder="Integer">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFloat" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkFloat">
          Float</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputFloat' placeholder="Float">
        </div>
      </div>
      <div class="form-group row">
        <label for="startDate" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkDate">
          Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='startDate' placeholder="start date"> to
          <input type="text" class="form-control" name='endDate' placeholder="end date">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBoolean" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkBoolean">
          Boolean</label>
        <div class="col-sm-10">
          <select class="custom-select" name="inputBoolean">
            <option value="false">false</option>
            <option value="true" selected>true</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
      <a class="btn btn-success btn" href="/" role="button">Show All</a>
    </form>

    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">String</th>
          <th scope="col">Integer</th>
          <th scope="col">Float</th>
          <th scope="col">Date</th>
          <th scope="col">Boolean</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <br>

    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      </ul>
    </nav> -->

    <a class="btn btn-primary btn-add" href="/add" role="button" on>Add</a>


    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editModalLabel">Edit Data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="form-edit">
            <div class="modal-body">
              <div class="form-group row">
                <label for="inputString" class="col-sm-2 col-form-label">String</label>
                <div class="col-sm-10">
                  <input type="text" id="modalString" class="form-control" name="string" placeholder="String" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputInteger" class="col-sm-2 col-form-label">Integer</label>
                <div class="col-sm-10">
                  <input type="text" id="modalInteger" class="form-control" name="integer" placeholder="Integer"
                    value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFloat" class="col-sm-2 col-form-label">Float</label>
                <div class="col-sm-10">
                  <input type="text" id="modalFloat" class="form-control" name="float" placeholder="Float" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" id="modalDate" class="form-control" name="date" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputBoolean" class="col-sm-2 col-form-label">Boolean</label>
                <div class="col-sm-10">
                  <select id="modalBoolean" class="custom-select" name="boolean">
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="submit-data" class="btn btn-outline-primary btn-save-change" dataid=""
                data-dismiss="modal">Save changes</button>
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <br>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    const apiUrl = `http://localhost:3000/api`;

    $(document).ready(() => {
      loadData();

      $('table tbody').on('click', '.btn-delete', (event) => {
        event.preventDefault();
        deleteData($(event.currentTarget).attr('data-id'))
      })

      $('table tbody').on('click', '.btn-edit', (event) => {
        showData($(event.currentTarget).attr('data-id'));
      })

      $('.modal-footer').on('click', '.btn-save-change', (event) => {
        event.preventDefault();
        saveData($(event.currentTarget).attr('dataid'));
        loadData();
      })

    });

    const loadData = () => {
      $.ajax({
          method: "GET",
          url: apiUrl,
          dataType: 'json'
        })
        .done(result => {
          const data = result.result

          let html = '';
          data.forEach((item, index) => {
            html += `<tr>
          <td>${index+1}</td>
          <td>${item.string ? item.string : 'kosong'}</td>
          <td>${item.integer ? item.integer : 'kosong'}</td>
          <td>${item.float ? item.float : 'kosong'}</td>
          <td>${item.date ? item.date : 'kosong'}</td>
          <td>${item.boolean}</td>
          <td>
            <button type="button" class="btn btn-dark btn-edit" data-id="${item._id}" data-toggle="modal" data-target="#editModal">Edit</button>
            <button type="button" class="btn btn-danger btn-delete" data-id="${item._id}">Delete</button>
          </td>
          </tr>`
          })
          $('table tbody').html(html);
        })
    }

    const showData = (param) => {
      $.ajax({
          method: "GET",
          url: `${apiUrl}/${param}`,
          dataType: 'json'
        })
        .done(result => {
          let data = result.result;
          let html = '';
          $('button#submit-data').attr('dataid', data._id);
          $('input#modalString').val(data.string);
          $('input#modalString').val(data.string);
          $('input#modalInteger').val(data.integer);
          $('input#modalFloat').val(data.float);
          $('input#modalDate').val(data.date);
          if (data.boolean == 'true') {
            html += `<option value="false">false</option>
                    <option value="true" selected>true</option>`
          } else {
            html += `<option value="false" selected>false</option>
                    <option value="true">true</option>`
          }
          $('#modalBoolean').html(html);
        })
    }

    const saveData = (param) => {
      $.ajax({
          method: "PUT",
          url: `${apiUrl}/${param}`,
          data: {
            id: `${param}`,
            string: $('#modalString').val(),
            integer: $('#modalInteger').val(),
            float: $('#modalFloat').val(),
            date: $('#modalDate').val(),
            boolean: $('#modalBoolean').val(),
          },
          dataType: 'json'
        })
        .done((result) => {
          loadData();
        })
    }

    const deleteData = (id) => {
      $.ajax({
          method: "DELETE",
          url: `${apiUrl}/${id}`,
          dataType: 'json'
        })
        .done((result) => {
          loadData();
        })
    }

  </script>
</body>

</html>